src/main/resources/META-INF/wsdl/IntegracionPortalWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://trafficcontrol.com.ec" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="IntegracionPortalWS" targetNamespace="http://trafficcontrol.com.ec">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://trafficcontrol.com.ec" elementFormDefault="unqualified" targetNamespace="http://trafficcontrol.com.ec" version="1.0">

            <xs:element name="consultaDatosLicencia" type="tns:consultaDatosLicencia"/>

            <xs:element name="consultaDatosLicenciaResponse" type="tns:consultaDatosLicenciaResponse"/>

            <xs:element name="consultaDeudas" type="tns:consultaDeudas"/>

            <xs:element name="consultaDeudasResponse" type="tns:consultaDeudasResponse"/>

            <xs:element name="consultaDiscapacidad" type="tns:consultaDiscapacidad"/>

            <xs:element name="consultaDiscapacidadResponse" type="tns:consultaDiscapacidadResponse"/>

            <xs:element name="consultaPersonaRegistrocivil" type="tns:consultaPersonaRegistrocivil"/>

            <xs:element name="consultaPersonaRegistrocivilResponse" type="tns:consultaPersonaRegistrocivilResponse"/>

            <xs:element name="consultaSalarioBasicoUnificado" type="tns:consultaSalarioBasicoUnificado"/>

            <xs:element name="consultaSalarioBasicoUnificadoResponse" type="tns:consultaSalarioBasicoUnificadoResponse"/>

            <xs:element name="consultaTituloHabilitante" type="tns:consultaTituloHabilitante"/>

            <xs:element name="consultaTituloHabilitanteResponse" type="tns:consultaTituloHabilitanteResponse"/>

            <xs:element name="consultaVehiculoSRI" type="tns:consultaVehiculoSRI"/>

            <xs:element name="consultaVehiculoSRIResponse" type="tns:consultaVehiculoSRIResponse"/>

            <xs:element name="consultaVehiculoxplaca" type="tns:consultaVehiculoxplaca"/>

            <xs:element name="consultaVehiculoxplacaResponse" type="tns:consultaVehiculoxplacaResponse"/>

            <xs:element name="identificaVehiculoPlaca" type="tns:identificaVehiculoPlaca"/>

            <xs:element name="identificaVehiculoPlacaResponse" type="tns:identificaVehiculoPlacaResponse"/>

            <xs:element name="obtieneCatalogoLocalidad" type="tns:obtieneCatalogoLocalidad"/>

            <xs:element name="obtieneCatalogoLocalidadResponse" type="tns:obtieneCatalogoLocalidadResponse"/>

            <xs:element name="obtieneCatalogoParqueo" type="tns:obtieneCatalogoParqueo"/>

            <xs:element name="obtieneCatalogoParqueoResponse" type="tns:obtieneCatalogoParqueoResponse"/>

            <xs:element name="obtieneCatalogoSeguridad" type="tns:obtieneCatalogoSeguridad"/>

            <xs:element name="obtieneCatalogoSeguridadResponse" type="tns:obtieneCatalogoSeguridadResponse"/>

            <xs:element name="obtieneCatalogoservicios" type="tns:obtieneCatalogoservicios"/>

            <xs:element name="obtieneCatalogoserviciosResponse" type="tns:obtieneCatalogoserviciosResponse"/>

            <xs:element name="obtieneCentrorevision" type="tns:obtieneCentrorevision"/>

            <xs:element name="obtieneCentrorevisionResponse" type="tns:obtieneCentrorevisionResponse"/>

            <xs:element name="obtieneEquipoMovilApp" type="tns:obtieneEquipoMovilApp"/>

            <xs:element name="obtieneEquipoMovilAppResponse" type="tns:obtieneEquipoMovilAppResponse"/>

            <xs:element name="obtieneTarifarioServicio" type="tns:obtieneTarifarioServicio"/>

            <xs:element name="obtieneTarifarioServicioResponse" type="tns:obtieneTarifarioServicioResponse"/>

            <xs:element name="validaEquipomovil" type="tns:validaEquipomovil"/>

            <xs:element name="validaEquipomovilResponse" type="tns:validaEquipomovilResponse"/>

            <xs:complexType name="consultaDeudas">
                <xs:sequence>
                    <xs:element minOccurs="0" name="placa" type="xs:string"/>
                    <xs:element minOccurs="0" name="usuario" type="xs:string"/>
                    <xs:element minOccurs="0" name="contrasenia" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="consultaDeudasResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="resultado" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="obtieneCatalogoSeguridad">
                <xs:sequence>
                    <xs:element minOccurs="0" name="fecha" type="xs:string"/>
                    <xs:element minOccurs="0" name="usuario" type="xs:string"/>
                    <xs:element minOccurs="0" name="contrasenia" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="obtieneCatalogoSeguridadResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="resultado" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="obtieneTarifarioServicio">
                <xs:sequence>
                    <xs:element minOccurs="0" name="fecha" type="xs:string"/>
                    <xs:element minOccurs="0" name="usuario" type="xs:string"/>
                    <xs:element minOccurs="0" name="contrasenia" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="obtieneTarifarioServicioResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="resultado" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="consultaVehiculoxplaca">
                <xs:sequence>
                    <xs:element minOccurs="0" name="placa" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="consultaVehiculoxplacaResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="resultado" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="obtieneCatalogoParqueo">
                <xs:sequence>
                    <xs:element minOccurs="0" name="fecha" type="xs:string"/>
                    <xs:element minOccurs="0" name="usuario" type="xs:string"/>
                    <xs:element minOccurs="0" name="contrasenia" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="obtieneCatalogoParqueoResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="resultado" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="consultaDatosLicencia">
                <xs:sequence>
                    <xs:element minOccurs="0" name="identificacion" type="xs:string"/>
                    <xs:element minOccurs="0" name="usuario" type="xs:string"/>
                    <xs:element minOccurs="0" name="contrasenia" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="consultaDatosLicenciaResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="resultado" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="validaEquipomovil">
                <xs:sequence>
                    <xs:element minOccurs="0" name="serial" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="validaEquipomovilResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="resultado" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="consultaSalarioBasicoUnificado">
                <xs:sequence>
                    <xs:element minOccurs="0" name="usuario" type="xs:string"/>
                    <xs:element minOccurs="0" name="contrasenia" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="consultaSalarioBasicoUnificadoResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="resultado" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="obtieneCatalogoservicios">
                <xs:sequence/>
            </xs:complexType>

            <xs:complexType name="obtieneCatalogoserviciosResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="resultado" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="identificaVehiculoPlaca">
                <xs:sequence>
                    <xs:element minOccurs="0" name="placa" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="identificaVehiculoPlacaResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="resultado" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="consultaVehiculoSRI">
                <xs:sequence>
                    <xs:element minOccurs="0" name="placa" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="consultaVehiculoSRIResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="resultado" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="obtieneCentrorevision">
                <xs:sequence/>
            </xs:complexType>

            <xs:complexType name="obtieneCentrorevisionResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="resultado" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="consultaPersonaRegistrocivil">
                <xs:sequence>
                    <xs:element minOccurs="0" name="numeroidentificacion" type="xs:string"/>
                    <xs:element minOccurs="0" name="usuario" type="xs:string"/>
                    <xs:element minOccurs="0" name="contrasenia" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="consultaPersonaRegistrocivilResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="resultado" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="consultaTituloHabilitante">
                <xs:sequence>
                    <xs:element minOccurs="0" name="codigo" type="xs:string"/>
                    <xs:element minOccurs="0" name="usuario" type="xs:string"/>
                    <xs:element minOccurs="0" name="contrasenia" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="consultaTituloHabilitanteResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="resultado" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="consultaDiscapacidad">
                <xs:sequence>
                    <xs:element minOccurs="0" name="cedula" type="xs:string"/>
                    <xs:element minOccurs="0" name="usuario" type="xs:string"/>
                    <xs:element minOccurs="0" name="contrasenia" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="consultaDiscapacidadResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="resultado" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="obtieneCatalogoLocalidad">
                <xs:sequence>
                    <xs:element minOccurs="0" name="fecha" type="xs:string"/>
                    <xs:element minOccurs="0" name="usuario" type="xs:string"/>
                    <xs:element minOccurs="0" name="contrasenia" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="obtieneCatalogoLocalidadResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="resultado" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="obtieneEquipoMovilApp">
                <xs:sequence>
                    <xs:element minOccurs="0" name="fecha" type="xs:string"/>
                    <xs:element minOccurs="0" name="usuario" type="xs:string"/>
                    <xs:element minOccurs="0" name="contrasenia" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="obtieneEquipoMovilAppResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="resultado" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

        </xs:schema>
    </wsdl:types>
    <wsdl:message name="consultaDiscapacidadResponse">
        <wsdl:part element="tns:consultaDiscapacidadResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="consultaDeudas">
        <wsdl:part element="tns:consultaDeudas" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="consultaPersonaRegistrocivilResponse">
        <wsdl:part element="tns:consultaPersonaRegistrocivilResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="obtieneCatalogoserviciosResponse">
        <wsdl:part element="tns:obtieneCatalogoserviciosResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="obtieneTarifarioServicioResponse">
        <wsdl:part element="tns:obtieneTarifarioServicioResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="validaEquipomovilResponse">
        <wsdl:part element="tns:validaEquipomovilResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="consultaVehiculoxplaca">
        <wsdl:part element="tns:consultaVehiculoxplaca" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="identificaVehiculoPlacaResponse">
        <wsdl:part element="tns:identificaVehiculoPlacaResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="consultaSalarioBasicoUnificadoResponse">
        <wsdl:part element="tns:consultaSalarioBasicoUnificadoResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="obtieneCatalogoSeguridadResponse">
        <wsdl:part element="tns:obtieneCatalogoSeguridadResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="identificaVehiculoPlaca">
        <wsdl:part element="tns:identificaVehiculoPlaca" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="consultaVehiculoSRI">
        <wsdl:part element="tns:consultaVehiculoSRI" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="obtieneCentrorevision">
        <wsdl:part element="tns:obtieneCentrorevision" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="obtieneCentrorevisionResponse">
        <wsdl:part element="tns:obtieneCentrorevisionResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="consultaTituloHabilitante">
        <wsdl:part element="tns:consultaTituloHabilitante" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="obtieneCatalogoParqueoResponse">
        <wsdl:part element="tns:obtieneCatalogoParqueoResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="consultaVehiculoxplacaResponse">
        <wsdl:part element="tns:consultaVehiculoxplacaResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="obtieneCatalogoLocalidadResponse">
        <wsdl:part element="tns:obtieneCatalogoLocalidadResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="obtieneEquipoMovilApp">
        <wsdl:part element="tns:obtieneEquipoMovilApp" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="obtieneCatalogoSeguridad">
        <wsdl:part element="tns:obtieneCatalogoSeguridad" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="obtieneTarifarioServicio">
        <wsdl:part element="tns:obtieneTarifarioServicio" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="consultaVehiculoSRIResponse">
        <wsdl:part element="tns:consultaVehiculoSRIResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="obtieneCatalogoParqueo">
        <wsdl:part element="tns:obtieneCatalogoParqueo" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="consultaDatosLicencia">
        <wsdl:part element="tns:consultaDatosLicencia" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="validaEquipomovil">
        <wsdl:part element="tns:validaEquipomovil" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="consultaSalarioBasicoUnificado">
        <wsdl:part element="tns:consultaSalarioBasicoUnificado" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="obtieneCatalogoservicios">
        <wsdl:part element="tns:obtieneCatalogoservicios" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="consultaDatosLicenciaResponse">
        <wsdl:part element="tns:consultaDatosLicenciaResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="consultaDeudasResponse">
        <wsdl:part element="tns:consultaDeudasResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="obtieneEquipoMovilAppResponse">
        <wsdl:part element="tns:obtieneEquipoMovilAppResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="consultaTituloHabilitanteResponse">
        <wsdl:part element="tns:consultaTituloHabilitanteResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="consultaPersonaRegistrocivil">
        <wsdl:part element="tns:consultaPersonaRegistrocivil" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="consultaDiscapacidad">
        <wsdl:part element="tns:consultaDiscapacidad" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="obtieneCatalogoLocalidad">
        <wsdl:part element="tns:obtieneCatalogoLocalidad" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="MetodosPort">
        <wsdl:operation name="consultaDeudas">
            <wsdl:input message="tns:consultaDeudas" name="consultaDeudas">
            </wsdl:input>
            <wsdl:output message="tns:consultaDeudasResponse" name="consultaDeudasResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="obtieneCatalogoSeguridad">
            <wsdl:input message="tns:obtieneCatalogoSeguridad" name="obtieneCatalogoSeguridad">
            </wsdl:input>
            <wsdl:output message="tns:obtieneCatalogoSeguridadResponse" name="obtieneCatalogoSeguridadResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="obtieneTarifarioServicio">
            <wsdl:input message="tns:obtieneTarifarioServicio" name="obtieneTarifarioServicio">
            </wsdl:input>
            <wsdl:output message="tns:obtieneTarifarioServicioResponse" name="obtieneTarifarioServicioResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="consultaVehiculoxplaca">
            <wsdl:input message="tns:consultaVehiculoxplaca" name="consultaVehiculoxplaca">
            </wsdl:input>
            <wsdl:output message="tns:consultaVehiculoxplacaResponse" name="consultaVehiculoxplacaResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="obtieneCatalogoParqueo">
            <wsdl:input message="tns:obtieneCatalogoParqueo" name="obtieneCatalogoParqueo">
            </wsdl:input>
            <wsdl:output message="tns:obtieneCatalogoParqueoResponse" name="obtieneCatalogoParqueoResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="consultaDatosLicencia">
            <wsdl:input message="tns:consultaDatosLicencia" name="consultaDatosLicencia">
            </wsdl:input>
            <wsdl:output message="tns:consultaDatosLicenciaResponse" name="consultaDatosLicenciaResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="validaEquipomovil">
            <wsdl:input message="tns:validaEquipomovil" name="validaEquipomovil">
            </wsdl:input>
            <wsdl:output message="tns:validaEquipomovilResponse" name="validaEquipomovilResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="consultaSalarioBasicoUnificado">
            <wsdl:input message="tns:consultaSalarioBasicoUnificado" name="consultaSalarioBasicoUnificado">
            </wsdl:input>
            <wsdl:output message="tns:consultaSalarioBasicoUnificadoResponse" name="consultaSalarioBasicoUnificadoResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="obtieneCatalogoservicios">
            <wsdl:input message="tns:obtieneCatalogoservicios" name="obtieneCatalogoservicios">
            </wsdl:input>
            <wsdl:output message="tns:obtieneCatalogoserviciosResponse" name="obtieneCatalogoserviciosResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="identificaVehiculoPlaca">
            <wsdl:input message="tns:identificaVehiculoPlaca" name="identificaVehiculoPlaca">
            </wsdl:input>
            <wsdl:output message="tns:identificaVehiculoPlacaResponse" name="identificaVehiculoPlacaResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="consultaVehiculoSRI">
            <wsdl:input message="tns:consultaVehiculoSRI" name="consultaVehiculoSRI">
            </wsdl:input>
            <wsdl:output message="tns:consultaVehiculoSRIResponse" name="consultaVehiculoSRIResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="obtieneCentrorevision">
            <wsdl:input message="tns:obtieneCentrorevision" name="obtieneCentrorevision">
            </wsdl:input>
            <wsdl:output message="tns:obtieneCentrorevisionResponse" name="obtieneCentrorevisionResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="consultaPersonaRegistrocivil">
            <wsdl:input message="tns:consultaPersonaRegistrocivil" name="consultaPersonaRegistrocivil">
            </wsdl:input>
            <wsdl:output message="tns:consultaPersonaRegistrocivilResponse" name="consultaPersonaRegistrocivilResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="consultaTituloHabilitante">
            <wsdl:input message="tns:consultaTituloHabilitante" name="consultaTituloHabilitante">
            </wsdl:input>
            <wsdl:output message="tns:consultaTituloHabilitanteResponse" name="consultaTituloHabilitanteResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="consultaDiscapacidad">
            <wsdl:input message="tns:consultaDiscapacidad" name="consultaDiscapacidad">
            </wsdl:input>
            <wsdl:output message="tns:consultaDiscapacidadResponse" name="consultaDiscapacidadResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="obtieneCatalogoLocalidad">
            <wsdl:input message="tns:obtieneCatalogoLocalidad" name="obtieneCatalogoLocalidad">
            </wsdl:input>
            <wsdl:output message="tns:obtieneCatalogoLocalidadResponse" name="obtieneCatalogoLocalidadResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="obtieneEquipoMovilApp">
            <wsdl:input message="tns:obtieneEquipoMovilApp" name="obtieneEquipoMovilApp">
            </wsdl:input>
            <wsdl:output message="tns:obtieneEquipoMovilAppResponse" name="obtieneEquipoMovilAppResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="IntegracionPortalWSSoapBinding" type="tns:MetodosPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="consultaDeudas">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="consultaDeudas">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="consultaDeudasResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="obtieneCatalogoSeguridad">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="obtieneCatalogoSeguridad">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="obtieneCatalogoSeguridadResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="obtieneTarifarioServicio">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="obtieneTarifarioServicio">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="obtieneTarifarioServicioResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="consultaVehiculoxplaca">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="consultaVehiculoxplaca">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="consultaVehiculoxplacaResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="obtieneCatalogoParqueo">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="obtieneCatalogoParqueo">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="obtieneCatalogoParqueoResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="consultaDatosLicencia">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="consultaDatosLicencia">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="consultaDatosLicenciaResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="validaEquipomovil">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="validaEquipomovil">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="validaEquipomovilResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="consultaSalarioBasicoUnificado">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="consultaSalarioBasicoUnificado">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="consultaSalarioBasicoUnificadoResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="obtieneCatalogoservicios">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="obtieneCatalogoservicios">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="obtieneCatalogoserviciosResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="identificaVehiculoPlaca">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="identificaVehiculoPlaca">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="identificaVehiculoPlacaResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="consultaVehiculoSRI">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="consultaVehiculoSRI">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="consultaVehiculoSRIResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="obtieneCentrorevision">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="obtieneCentrorevision">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="obtieneCentrorevisionResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="consultaPersonaRegistrocivil">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="consultaPersonaRegistrocivil">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="consultaPersonaRegistrocivilResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="consultaTituloHabilitante">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="consultaTituloHabilitante">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="consultaTituloHabilitanteResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="consultaDiscapacidad">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="consultaDiscapacidad">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="consultaDiscapacidadResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="obtieneCatalogoLocalidad">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="obtieneCatalogoLocalidad">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="obtieneCatalogoLocalidadResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="obtieneEquipoMovilApp">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="obtieneEquipoMovilApp">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="obtieneEquipoMovilAppResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="IntegracionPortalWS">
        <wsdl:port binding="tns:IntegracionPortalWSSoapBinding" name="MetodosPort">
            <soap:address location="http://190.63.168.153:8080/ws-mara/IntegracionPortalWS?WSDL"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>