src/main/resources/META-INF/wsdl/TramitePortalWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://tc.portaltramite.com.ec" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="TramitePortalWS" targetNamespace="http://tc.portaltramite.com.ec">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tc.portaltramite.com.ec" elementFormDefault="unqualified" targetNamespace="http://tc.portaltramite.com.ec" version="1.0">

            <xs:element name="actualizaSolicitudXCaducidad" type="tns:actualizaSolicitudXCaducidad"/>

            <xs:element name="actualizaSolicitudXCaducidadResponse" type="tns:actualizaSolicitudXCaducidadResponse"/>

            <xs:element name="anulaSolicitud" type="tns:anulaSolicitud"/>

            <xs:element name="anulaSolicitudResponse" type="tns:anulaSolicitudResponse"/>

            <xs:element name="confirmaReservaturno" type="tns:confirmaReservaturno"/>

            <xs:element name="confirmaReservaturnoResponse" type="tns:confirmaReservaturnoResponse"/>

            <xs:element name="consultaListadotramite" type="tns:consultaListadotramite"/>

            <xs:element name="consultaListadotramiteResponse" type="tns:consultaListadotramiteResponse"/>

            <xs:element name="consultaPersona" type="tns:consultaPersona"/>

            <xs:element name="consultaPersonaResponse" type="tns:consultaPersonaResponse"/>

            <xs:element name="consultaVehiculo" type="tns:consultaVehiculo"/>

            <xs:element name="consultaVehiculoResponse" type="tns:consultaVehiculoResponse"/>

            <xs:element name="desactivaUsuario" type="tns:desactivaUsuario"/>

            <xs:element name="desactivaUsuarioResponse" type="tns:desactivaUsuarioResponse"/>

            <xs:element name="finalizaSolicitudXReferencia" type="tns:finalizaSolicitudXReferencia"/>

            <xs:element name="finalizaSolicitudXReferenciaResponse" type="tns:finalizaSolicitudXReferenciaResponse"/>

            <xs:element name="generaOrdenpagoConvalor" type="tns:generaOrdenpagoConvalor"/>

            <xs:element name="generaOrdenpagoConvalorResponse" type="tns:generaOrdenpagoConvalorResponse"/>

            <xs:element name="generaOrdenpagomatriculacion" type="tns:generaOrdenpagomatriculacion"/>

            <xs:element name="generaOrdenpagomatriculacionResponse" type="tns:generaOrdenpagomatriculacionResponse"/>

            <xs:element name="generaReservaturno" type="tns:generaReservaturno"/>

            <xs:element name="generaReservaturnoResponse" type="tns:generaReservaturnoResponse"/>

            <xs:element name="obtieneHorarioTurno" type="tns:obtieneHorarioTurno"/>

            <xs:element name="obtieneHorarioTurnoResponse" type="tns:obtieneHorarioTurnoResponse"/>

            <xs:element name="obtieneOrdenPagoPdf" type="tns:obtieneOrdenPagoPdf"/>

            <xs:element name="obtieneOrdenPagoPdfResponse" type="tns:obtieneOrdenPagoPdfResponse"/>

            <xs:element name="obtienePdfXReservaturno" type="tns:obtienePdfXReservaturno"/>

            <xs:element name="obtienePdfXReservaturnoResponse" type="tns:obtienePdfXReservaturnoResponse"/>

            <xs:element name="obtienePdfXSolicitud" type="tns:obtienePdfXSolicitud"/>

            <xs:element name="obtienePdfXSolicitudResponse" type="tns:obtienePdfXSolicitudResponse"/>

            <xs:element name="registraOperadora" type="tns:registraOperadora"/>

            <xs:element name="registraOperadoraResponse" type="tns:registraOperadoraResponse"/>

            <xs:element name="registraPersona" type="tns:registraPersona"/>

            <xs:element name="registraPersonaResponse" type="tns:registraPersonaResponse"/>

            <xs:element name="registraUsuario" type="tns:registraUsuario"/>

            <xs:element name="registraUsuarioResponse" type="tns:registraUsuarioResponse"/>

            <xs:element name="sincronizaRolSistema" type="tns:sincronizaRolSistema"/>

            <xs:element name="sincronizaRolSistemaResponse" type="tns:sincronizaRolSistemaResponse"/>

            <xs:complexType name="consultaPersona">
                <xs:sequence>
                    <xs:element minOccurs="0" name="tipoidentificacion" type="xs:string"/>
                    <xs:element minOccurs="0" name="numeroidentificacion" type="xs:string"/>
                    <xs:element minOccurs="0" name="tipoconsulta" type="xs:string"/>
                    <xs:element minOccurs="0" name="usuario" type="xs:string"/>
                    <xs:element minOccurs="0" name="contrasenia" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="consultaPersonaResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="resultado" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="sincronizaRolSistema">
                <xs:sequence>
                    <xs:element minOccurs="0" name="datos" type="xs:string"/>
                    <xs:element minOccurs="0" name="usuario" type="xs:string"/>
                    <xs:element minOccurs="0" name="contrasenia" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="sincronizaRolSistemaResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="resultado" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="actualizaSolicitudXCaducidad">
                <xs:sequence>
                    <xs:element name="idsolicitud" type="xs:long"/>
                    <xs:element minOccurs="0" name="usuario" type="xs:string"/>
                    <xs:element minOccurs="0" name="contrasenia" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="actualizaSolicitudXCaducidadResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="resultado" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="desactivaUsuario">
                <xs:sequence>
                    <xs:element minOccurs="0" name="usuario" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="desactivaUsuarioResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="resultado" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="obtieneHorarioTurno">
                <xs:sequence>
                    <xs:element name="idcentrorevision" type="xs:long"/>
                    <xs:element minOccurs="0" name="fecha" type="xs:string"/>
                    <xs:element minOccurs="0" name="usuario" type="xs:string"/>
                    <xs:element minOccurs="0" name="contrasenia" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="obtieneHorarioTurnoResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="resultado" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="registraUsuario">
                <xs:sequence>
                    <xs:element minOccurs="0" name="datos" type="xs:string"/>
                    <xs:element minOccurs="0" name="usuario" type="xs:string"/>
                    <xs:element minOccurs="0" name="contrasenia" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="registraUsuarioResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="resultado" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="confirmaReservaturno">
                <xs:sequence>
                    <xs:element name="idsolicitud" type="xs:long"/>
                    <xs:element name="turno" type="xs:long"/>
                    <xs:element minOccurs="0" name="usuario" type="xs:string"/>
                    <xs:element minOccurs="0" name="contrasenia" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="confirmaReservaturnoResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="resultado" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="generaOrdenpagomatriculacion">
                <xs:sequence>
                    <xs:element minOccurs="0" name="identificacion" type="xs:string"/>
                    <xs:element minOccurs="0" name="placa" type="xs:string"/>
                    <xs:element minOccurs="0" name="codigoservicio" type="xs:string"/>
                    <xs:element minOccurs="0" name="usuario" type="xs:string"/>
                    <xs:element minOccurs="0" name="contrasenia" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="generaOrdenpagomatriculacionResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="resultado" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="finalizaSolicitudXReferencia">
                <xs:sequence>
                    <xs:element minOccurs="0" name="codigoservicio" type="xs:string"/>
                    <xs:element minOccurs="0" name="tipoconsulta" type="xs:string"/>
                    <xs:element minOccurs="0" name="codigosolicitud" type="xs:string"/>
                    <xs:element minOccurs="0" name="comentario" type="xs:string"/>
                    <xs:element minOccurs="0" name="usuario" type="xs:string"/>
                    <xs:element minOccurs="0" name="contrasenia" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="finalizaSolicitudXReferenciaResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="resultado" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="registraPersona">
                <xs:sequence>
                    <xs:element minOccurs="0" name="datospersona" type="xs:string"/>
                    <xs:element minOccurs="0" name="usuario" type="xs:string"/>
                    <xs:element minOccurs="0" name="contrasenia" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="registraPersonaResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="resultado" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="consultaVehiculo">
                <xs:sequence>
                    <xs:element minOccurs="0" name="identificacion" type="xs:string"/>
                    <xs:element minOccurs="0" name="placa" type="xs:string"/>
                    <xs:element minOccurs="0" name="codigoservicio" type="xs:string"/>
                    <xs:element minOccurs="0" name="usuario" type="xs:string"/>
                    <xs:element minOccurs="0" name="contrasenia" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="consultaVehiculoResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="resultado" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="obtieneOrdenPagoPdf">
                <xs:sequence>
                    <xs:element minOccurs="0" name="tipoconsulta" type="xs:string"/>
                    <xs:element minOccurs="0" name="valor" type="xs:string"/>
                    <xs:element minOccurs="0" name="usuario" type="xs:string"/>
                    <xs:element minOccurs="0" name="contrasenia" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="obtieneOrdenPagoPdfResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="resultado" type="xs:base64Binary"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="anulaSolicitud">
                <xs:sequence>
                    <xs:element name="idsolicitud" type="xs:long"/>
                    <xs:element minOccurs="0" name="comentario" type="xs:string"/>
                    <xs:element minOccurs="0" name="usuario" type="xs:string"/>
                    <xs:element minOccurs="0" name="contrasenia" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="anulaSolicitudResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="resultado" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="consultaListadotramite">
                <xs:sequence>
                    <xs:element minOccurs="0" name="identificacion" type="xs:string"/>
                    <xs:element minOccurs="0" name="placa" type="xs:string"/>
                    <xs:element minOccurs="0" name="usuario" type="xs:string"/>
                    <xs:element minOccurs="0" name="contrasenia" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="consultaListadotramiteResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="resultado" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="generaReservaturno">
                <xs:sequence>
                    <xs:element name="idsolicitud" type="xs:long"/>
                    <xs:element name="centrorevision" type="xs:long"/>
                    <xs:element name="turno" type="xs:long"/>
                    <xs:element minOccurs="0" name="urlturno" type="xs:string"/>
                    <xs:element minOccurs="0" name="usuario" type="xs:string"/>
                    <xs:element minOccurs="0" name="contrasenia" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="generaReservaturnoResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="resultado" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="obtienePdfXReservaturno">
                <xs:sequence>
                    <xs:element name="idsolicitud" type="xs:long"/>
                    <xs:element minOccurs="0" name="usuario" type="xs:string"/>
                    <xs:element minOccurs="0" name="contrasenia" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="obtienePdfXReservaturnoResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="resultado" type="xs:base64Binary"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="generaOrdenpagoConvalor">
                <xs:sequence>
                    <xs:element minOccurs="0" name="identificacion" type="xs:string"/>
                    <xs:element minOccurs="0" name="codigoservicio" type="xs:string"/>
                    <xs:element minOccurs="0" name="subtotal" type="xs:string"/>
                    <xs:element minOccurs="0" name="iva" type="xs:string"/>
                    <xs:element minOccurs="0" name="alicuota" type="xs:string"/>
                    <xs:element minOccurs="0" name="total" type="xs:string"/>
                    <xs:element minOccurs="0" name="usuario" type="xs:string"/>
                    <xs:element minOccurs="0" name="contrasenia" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="generaOrdenpagoConvalorResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="resultado" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="obtienePdfXSolicitud">
                <xs:sequence>
                    <xs:element name="idsolicitud" type="xs:long"/>
                    <xs:element minOccurs="0" name="usuario" type="xs:string"/>
                    <xs:element minOccurs="0" name="contrasenia" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="obtienePdfXSolicitudResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="resultado" type="xs:base64Binary"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="registraOperadora">
                <xs:sequence>
                    <xs:element minOccurs="0" name="datos" type="xs:string"/>
                    <xs:element minOccurs="0" name="usuario" type="xs:string"/>
                    <xs:element minOccurs="0" name="contrasenia" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="registraOperadoraResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="resultado" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

        </xs:schema>
    </wsdl:types>
    <wsdl:message name="consultaPersona">
        <wsdl:part element="tns:consultaPersona" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="actualizaSolicitudXCaducidad">
        <wsdl:part element="tns:actualizaSolicitudXCaducidad" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="desactivaUsuario">
        <wsdl:part element="tns:desactivaUsuario" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="obtieneHorarioTurno">
        <wsdl:part element="tns:obtieneHorarioTurno" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="confirmaReservaturno">
        <wsdl:part element="tns:confirmaReservaturno" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="generaOrdenpagomatriculacion">
        <wsdl:part element="tns:generaOrdenpagomatriculacion" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="anulaSolicitudResponse">
        <wsdl:part element="tns:anulaSolicitudResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="obtieneHorarioTurnoResponse">
        <wsdl:part element="tns:obtieneHorarioTurnoResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="consultaVehiculo">
        <wsdl:part element="tns:consultaVehiculo" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="obtienePdfXSolicitudResponse">
        <wsdl:part element="tns:obtienePdfXSolicitudResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="registraUsuarioResponse">
        <wsdl:part element="tns:registraUsuarioResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="anulaSolicitud">
        <wsdl:part element="tns:anulaSolicitud" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="desactivaUsuarioResponse">
        <wsdl:part element="tns:desactivaUsuarioResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="actualizaSolicitudXCaducidadResponse">
        <wsdl:part element="tns:actualizaSolicitudXCaducidadResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="registraOperadoraResponse">
        <wsdl:part element="tns:registraOperadoraResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="confirmaReservaturnoResponse">
        <wsdl:part element="tns:confirmaReservaturnoResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="obtieneOrdenPagoPdfResponse">
        <wsdl:part element="tns:obtieneOrdenPagoPdfResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="obtienePdfXSolicitud">
        <wsdl:part element="tns:obtienePdfXSolicitud" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="sincronizaRolSistemaResponse">
        <wsdl:part element="tns:sincronizaRolSistemaResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="registraOperadora">
        <wsdl:part element="tns:registraOperadora" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="sincronizaRolSistema">
        <wsdl:part element="tns:sincronizaRolSistema" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="registraPersonaResponse">
        <wsdl:part element="tns:registraPersonaResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="consultaVehiculoResponse">
        <wsdl:part element="tns:consultaVehiculoResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="consultaListadotramiteResponse">
        <wsdl:part element="tns:consultaListadotramiteResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="registraUsuario">
        <wsdl:part element="tns:registraUsuario" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="finalizaSolicitudXReferenciaResponse">
        <wsdl:part element="tns:finalizaSolicitudXReferenciaResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="generaOrdenpagoConvalorResponse">
        <wsdl:part element="tns:generaOrdenpagoConvalorResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="finalizaSolicitudXReferencia">
        <wsdl:part element="tns:finalizaSolicitudXReferencia" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="registraPersona">
        <wsdl:part element="tns:registraPersona" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="obtieneOrdenPagoPdf">
        <wsdl:part element="tns:obtieneOrdenPagoPdf" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="obtienePdfXReservaturnoResponse">
        <wsdl:part element="tns:obtienePdfXReservaturnoResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="consultaListadotramite">
        <wsdl:part element="tns:consultaListadotramite" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="generaReservaturno">
        <wsdl:part element="tns:generaReservaturno" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="obtienePdfXReservaturno">
        <wsdl:part element="tns:obtienePdfXReservaturno" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="generaReservaturnoResponse">
        <wsdl:part element="tns:generaReservaturnoResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="generaOrdenpagoConvalor">
        <wsdl:part element="tns:generaOrdenpagoConvalor" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="consultaPersonaResponse">
        <wsdl:part element="tns:consultaPersonaResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="generaOrdenpagomatriculacionResponse">
        <wsdl:part element="tns:generaOrdenpagomatriculacionResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="MetodosPort">
        <wsdl:operation name="consultaPersona">
            <wsdl:input message="tns:consultaPersona" name="consultaPersona">
            </wsdl:input>
            <wsdl:output message="tns:consultaPersonaResponse" name="consultaPersonaResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="sincronizaRolSistema">
            <wsdl:input message="tns:sincronizaRolSistema" name="sincronizaRolSistema">
            </wsdl:input>
            <wsdl:output message="tns:sincronizaRolSistemaResponse" name="sincronizaRolSistemaResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="actualizaSolicitudXCaducidad">
            <wsdl:input message="tns:actualizaSolicitudXCaducidad" name="actualizaSolicitudXCaducidad">
            </wsdl:input>
            <wsdl:output message="tns:actualizaSolicitudXCaducidadResponse" name="actualizaSolicitudXCaducidadResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="desactivaUsuario">
            <wsdl:input message="tns:desactivaUsuario" name="desactivaUsuario">
            </wsdl:input>
            <wsdl:output message="tns:desactivaUsuarioResponse" name="desactivaUsuarioResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="obtieneHorarioTurno">
            <wsdl:input message="tns:obtieneHorarioTurno" name="obtieneHorarioTurno">
            </wsdl:input>
            <wsdl:output message="tns:obtieneHorarioTurnoResponse" name="obtieneHorarioTurnoResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="registraUsuario">
            <wsdl:input message="tns:registraUsuario" name="registraUsuario">
            </wsdl:input>
            <wsdl:output message="tns:registraUsuarioResponse" name="registraUsuarioResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="confirmaReservaturno">
            <wsdl:input message="tns:confirmaReservaturno" name="confirmaReservaturno">
            </wsdl:input>
            <wsdl:output message="tns:confirmaReservaturnoResponse" name="confirmaReservaturnoResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="generaOrdenpagomatriculacion">
            <wsdl:input message="tns:generaOrdenpagomatriculacion" name="generaOrdenpagomatriculacion">
            </wsdl:input>
            <wsdl:output message="tns:generaOrdenpagomatriculacionResponse" name="generaOrdenpagomatriculacionResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="finalizaSolicitudXReferencia">
            <wsdl:input message="tns:finalizaSolicitudXReferencia" name="finalizaSolicitudXReferencia">
            </wsdl:input>
            <wsdl:output message="tns:finalizaSolicitudXReferenciaResponse" name="finalizaSolicitudXReferenciaResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="registraPersona">
            <wsdl:input message="tns:registraPersona" name="registraPersona">
            </wsdl:input>
            <wsdl:output message="tns:registraPersonaResponse" name="registraPersonaResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="consultaVehiculo">
            <wsdl:input message="tns:consultaVehiculo" name="consultaVehiculo">
            </wsdl:input>
            <wsdl:output message="tns:consultaVehiculoResponse" name="consultaVehiculoResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="obtieneOrdenPagoPdf">
            <wsdl:input message="tns:obtieneOrdenPagoPdf" name="obtieneOrdenPagoPdf">
            </wsdl:input>
            <wsdl:output message="tns:obtieneOrdenPagoPdfResponse" name="obtieneOrdenPagoPdfResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="anulaSolicitud">
            <wsdl:input message="tns:anulaSolicitud" name="anulaSolicitud">
            </wsdl:input>
            <wsdl:output message="tns:anulaSolicitudResponse" name="anulaSolicitudResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="consultaListadotramite">
            <wsdl:input message="tns:consultaListadotramite" name="consultaListadotramite">
            </wsdl:input>
            <wsdl:output message="tns:consultaListadotramiteResponse" name="consultaListadotramiteResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="generaReservaturno">
            <wsdl:input message="tns:generaReservaturno" name="generaReservaturno">
            </wsdl:input>
            <wsdl:output message="tns:generaReservaturnoResponse" name="generaReservaturnoResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="obtienePdfXReservaturno">
            <wsdl:input message="tns:obtienePdfXReservaturno" name="obtienePdfXReservaturno">
            </wsdl:input>
            <wsdl:output message="tns:obtienePdfXReservaturnoResponse" name="obtienePdfXReservaturnoResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="generaOrdenpagoConvalor">
            <wsdl:input message="tns:generaOrdenpagoConvalor" name="generaOrdenpagoConvalor">
            </wsdl:input>
            <wsdl:output message="tns:generaOrdenpagoConvalorResponse" name="generaOrdenpagoConvalorResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="obtienePdfXSolicitud">
            <wsdl:input message="tns:obtienePdfXSolicitud" name="obtienePdfXSolicitud">
            </wsdl:input>
            <wsdl:output message="tns:obtienePdfXSolicitudResponse" name="obtienePdfXSolicitudResponse">
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="registraOperadora">
            <wsdl:input message="tns:registraOperadora" name="registraOperadora">
            </wsdl:input>
            <wsdl:output message="tns:registraOperadoraResponse" name="registraOperadoraResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="TramitePortalWSSoapBinding" type="tns:MetodosPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="consultaPersona">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="consultaPersona">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="consultaPersonaResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="sincronizaRolSistema">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="sincronizaRolSistema">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="sincronizaRolSistemaResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="actualizaSolicitudXCaducidad">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="actualizaSolicitudXCaducidad">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="actualizaSolicitudXCaducidadResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="desactivaUsuario">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="desactivaUsuario">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="desactivaUsuarioResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="obtieneHorarioTurno">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="obtieneHorarioTurno">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="obtieneHorarioTurnoResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="registraUsuario">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="registraUsuario">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="registraUsuarioResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="confirmaReservaturno">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="confirmaReservaturno">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="confirmaReservaturnoResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="generaOrdenpagomatriculacion">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="generaOrdenpagomatriculacion">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="generaOrdenpagomatriculacionResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="finalizaSolicitudXReferencia">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="finalizaSolicitudXReferencia">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="finalizaSolicitudXReferenciaResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="registraPersona">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="registraPersona">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="registraPersonaResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="consultaVehiculo">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="consultaVehiculo">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="consultaVehiculoResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="obtieneOrdenPagoPdf">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="obtieneOrdenPagoPdf">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="obtieneOrdenPagoPdfResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="anulaSolicitud">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="anulaSolicitud">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="anulaSolicitudResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="consultaListadotramite">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="consultaListadotramite">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="consultaListadotramiteResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="generaReservaturno">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="generaReservaturno">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="generaReservaturnoResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="obtienePdfXReservaturno">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="obtienePdfXReservaturno">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="obtienePdfXReservaturnoResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="generaOrdenpagoConvalor">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="generaOrdenpagoConvalor">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="generaOrdenpagoConvalorResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="obtienePdfXSolicitud">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="obtienePdfXSolicitud">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="obtienePdfXSolicitudResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="registraOperadora">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="registraOperadora">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="registraOperadoraResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="TramitePortalWS">
        <wsdl:port binding="tns:TramitePortalWSSoapBinding" name="MetodosPort">
            <soap:address location="http://190.63.168.153:8080/ws-portal/TramitePortalWS?wsdl"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>